@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transition";

body {
	font-family: 'Helvetica Neue', 'Helvetica' 'Arial', sans-serif;
	background: #FDFEFE;
}

.navbar {
	height: 100px;
	color: #fff;
	background-color: rgba(255,255,255,.9);
	@include single-box-shadow(rgba(0,0,0,0.1), 0, 1px, 2px, 0px);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;

	ul {
		padding-top: 40px;
		padding-left: 330px;
	}

	li {
		font-family: 'Cutive Mono','Lato', 'Helvetica', 'Arial', sans-serif;
		display: inline;
		margin-right: 30px;
		text-transform: lowercase;
		font-size: 18px;
		font-weight: 600;
	}

	img {
		position: absolute;
		top: 10px;
		left: 200px;
	}

	a {	
		color: #93c7b8;
		padding: 41px 10px;
		@include transition-property(all);
    	@include transition-duration(.15s);
	}

	a:hover {
		color: #a0a0a0;
		cursor: pointer;
		// border-bottom: 5px solid #93c7b8;
		background-color: #F9F9F5;
		@include transition-property(all);
        @include transition-duration(.15s);
	}
}

.container {
	@include border-radius(3px);
	z-index: 1;
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	padding: 50px;
	margin: 30px 200px;
	min-height: 300px;
	min-width: 200px;
	position: relative;
	top: 100px;

	&.box1 {
		color: #fff;
		background-color: #96DCC7;
	}

	&.box2 {
		background-color: #f2f2ea;
		color: #808080;
	}

}

#footer {
	color: #aaa;
	font-family: 'Cutive Mono','Lato', 'Helvetica', 'Arial', sans-serif;
	font-size: 15px;
	margin: 140px 0 40px 0;
	text-align: center;
}